@font-face {
    font-family: 'Bobby Jones Soft';
    src: url('/fonts/Bobby Jones Soft.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bobby Jones Soft Outline';
    src: url('/fonts/Bobby Jones Soft Outline.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bobby Rough Soft';
    src: url('/fonts/Bobby Rough Soft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bobby Rough Soft Outline';
    src: url('/fonts/Bobby Rough Soft Outline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --color-primary: #7b4191;
    --color-secondary: #d4badf;
    --color-on-primary: #f3eee0;
    --color-tertiary: #caba6b;
    --color-accent: #f3f0b0;

    --breakpoint-tablet: 480px;
    --breakpoint-desktop: 1024px;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Bobby Jones Soft', sans-serif;
    font-weight: normal;
}

.primary-button {
    @apply bg-primary text-on-primary rounded-full transition-colors duration-200 text-center;

    @variant hover {
        @apply bg-primary/80;
    }
}